@mixin font($fss: normal, $fs: 14px, $fw: 400, $lh: 24px, $ls: 0.03em) {
  font-style: $fss;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-nc {
  display: flex;
}
@mixin flex-list {
  list-style: none;
}
@mixin flex-row {
  flex-direction: row;
}
@mixin flex-column {
  flex-direction: column;
}
@mixin flex-wrap {
  flex-wrap: wrap;
}
